@import "./../../utilities/variables.scss";

.top-item-container {
    margin-right: 50px;
    width: 300px;
    height: 100px;

    .position-number {
        margin: 0;
        color: $secondary-color;
        font-size: 35px;
    }

    p {
        margin: 0;
        color: $white;
        font-size: 17px;

        &.times-played {
            font-size: 60px;
            color: $primary-color;
            font-weight: 700;
            margin: 0;
        }
    }
    h2 {
        margin: 0;
        font-size: 20px;
        color: $white;
    }
}
