$background-color: #164b60;
$white: #ffffff;
$black: #111111;
$primary-color: #a2ff86;
$primary-color-with-alpha: #a2ff86b2;
$primary-color-with-more-alpha: #a2ff8672;
$secondary-color: #4fc0d0;
$base-color: #1b6b93;
$base-color-with-alpha: #1b6b9397;

/* $background-color: #8b1874;
$primary-color: #fc4f00;
$secondary-color: #f79540;
$base-color: #b71375;
 */
