@import "./../../utilities/variables.scss";

.top-section {
    h1 {
        color: $background-color;
        font-size: 23px;
        margin: 30px 0;
        text-transform: uppercase;
        text-align: center;
    }
}
