@import "./../../utilities/variables.scss";

.ww-playing-page {
    display: flex;
    flex-direction: column;
    background-color: $background-color;
    min-height: 75vh;
    padding: 0 150px 100px;

    .wwplaying-title {
        color: $secondary-color;
        font-size: 70px;
        text-transform: uppercase;
        margin: 0;
    }
    .ww-playing-body {
        display: inline-grid;
        grid-template-columns: 2fr 3fr;
        margin: 20px 0;

        .show-music-section {
            background-color: $primary-color;
            margin-left: 75px;
            padding: 30px;
            border-radius: 20px;
        }
    }
}
